
  body {
    background-color: #FFFFFF;
    /* needed to set this because of fixed-top for nav */
    padding-top: 14rem;
  }

  a {
    text-decoration: none;
  }

  /* yellow background */
  .navbar-one,.footer-custom{
    background-color: #1e2832; 
    color: white;       
  }

  /*darkblack background */
  .navbar-two, .copyright-custom{
    background-color: #ffb700;       
  }

  /* second(yellow) navigation bar*/
  .nav-custom {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 15px;
    font-weight: bold;
  }

  .nav-link {
    color: #1e2832;
  }

  .active {
    background-color: white;
    color: black;
    border-radius: 50px;
    text-align: center;
  }

  /* log-in cart log-out icon*/
  i.user {
    border-radius: 60px;
    padding: 0.5em 0.5em;
    background-color: white;
    color: #1e2832;
  }

  /* when log-in cart log-out icon hover */
  i.user:hover {
    background-color: #ffb700;
    color: white;
  }

  /*user-search is for center search input
    user-search-inside is for search input 
    when screen width size is below 992px*/
  .user-search, .user-search-inside {
    border-radius: 10px;
    padding-right: 10rem;
    margin-right: 5px;
  }

  /*search-button is for center search button
    search-button-inside is for search button 
    when screen width size is below 992px*/
  .search-button, .search-button-inside {
    margin-left: 1rem;
    background-color: white;
    color: #ffb700;
    border-radius: 60px;
  }

  /* initially hide the search bar inside the nav toggle button*/
  .user-search-inside, .search-button-inside{
    display: none;
  }

  .list-group-item{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
  }
  

  /* when screen width size below 992px*/
  @media screen and (max-width: 992px) {

        /*change padding-top due to autohide 2nd navi*/
        body{
          padding-top: 12rem;
        }
        
        /*hide center search form and show inside search form*/
        .user-search, .search-button  {
          display: none;
        }

        .user-search-inside, .search-button-inside {
          display: block;
        }

        /* for list-group-item padding */
        .list-group{
            padding-bottom: 2rem;
        }

        /*all content in footer center*/
        .footer-narrow{
          text-align: center;
        }


      }

/* Log-in and Sign-in Page */

.login-custom, .signin-custom {
  padding-top: 10em;
  padding-bottom: 10em;
  width: 600px;
}

.form-group > label {
  font-size: 20px;
}

/* Checkout button */
.btn-default {
    background-color: #1e2832;
    color: #FFFFFF;
}
    .btn-default:hover,
    .btn-default:focus,
    .btn-default:active    {
        background-color: #283541;
        color: #FFFFFF;
    }

.checkout-custom{
  padding-top: 5em;
  padding-bottom: 10em;
}