<!doctype html>
  <html lang="en">
  <head>
    <%- include ('partials/header') %>
    <link rel="stylesheet" href="/stylesheets/about-us.css">
  </head>
  <body>
    <%- include ('partials/navbar') %>
  <!-- Log in -->
  <div class="container">
    <div class="main about-us-custom">
      <div class="row m-3">
      <h1>About Us</h1>
      </div>
      <div class="row m-3">
          <p class="about-us"><i class="fas fa-thumbs-up fa-5x"></i><b>Stronger</b> company has THE BEST quality fitness equipment!</p> 
      </div>
      <div class="row m-3">
          <p class="about-us"><b>Stronger</b> company delivers your products in 2 ~ 3 business days <i class="fas fa-people-carry fa-5x"></i> </p>
      </div>
      <div class="row m-3">
          <p class="about-us"><i class="fas fa-smile fa-5x"></i><b>Stronger</b> company provides 24/7 customer service via email</p> 
      </div>
    </div>
  </div>

    <footer>
      <%- include ('partials/footer') %>
    </footer>

  </body>
</html>



