<!doctype html>
<html lang="en">

<head>
  <%- include ('partials/header') %>
  <script src="/javascripts/confirmation.js"></script>

</head>

<body>
  <%- include ('partials/navbar') %>

    <!-- Confirmation -->
    <div class="row">
      <div class="m-5">
        <h2>Thank you for shopping with us!</h2>
        <hr>
        <div class="row">
          <div class="col-9">
              <p>For all of your order details, check out the confirmation email we're sending to <%=user.username %>. <br>
                Order #
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <%- include ('partials/footer') %>
    </footer>

</body>

</html>