<!doctype html>
  <html lang="en">
  <head>
    <%- include ('partials/header') %>
  </head>
  <body>
    <%- include ('partials/navbar') %>
    <!-- Specific Equipment Information-->
    <div class="row">
    </div>

    <footer>
      <%- include ('partials/footer') %>
    </footer>

  </body>
</html>