<!doctype html>
  <html lang="en">
  <head>
    <%- include ('partials/header') %>
    <link href ="/stylesheets/main.css" rel="stylesheet">
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <%- include ('partials/navbar') %>

    <!-- Main -->
    <div class="container">
      <div id="equipment-card-area" class="row row-cols-1 row-cols-md-4 g-4 mt-4 mb-4">
      </div>
    </div>

    <footer>
      <%- include ('partials/footer') %>
    </footer>

  </body>
  </html>