<!doctype html>
  <html lang="en">
  <head>
    <%- include ('partials/header') %>
    <link href ="/stylesheets/main.css" rel="stylesheet">
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
    <%- include ('partials/navbar') %>

    <!-- Main -->
    <div class="container">
    <div id="filter_info" class="row">
    </div>
    <div id="equipment-card-area" class="row row-cols-1 row-cols-md-4 g-4 mt-6 mb-6">
    </div>
    <div class="row mt-4 mb-4 justify-content-md-center" >
       <div class="col col-lg-2">
        <nav aria-label="Page navigation example">
          <ul id= "pagination-ul" class="pagination">
          </ul>
        </nav>
      </div>
    </div>
  </div>


  <footer>
    <%- include ('partials/footer') %>
  </footer>

</body>
</html>