<!doctype html>
  <html lang="en">
  <head>
    <%- include ('partials/header') %>
  </head>
  <body>
    <%- include ('partials/navbar') %>

   <!-- Main -->
  <div class="row">
    <img src="images/workout-main.jpg" alt="workout main">
  </div>

    <footer>
      <%- include ('partials/footer') %>
    </footer>

  </body>
</html>