<!doctype html>
<html lang="en">

<head>
  <%- include ('partials/header') %>
    <script src="/javascripts/orders.js"></script>
</head>

<body>
  <%- include ('partials/navbar') %>

    <!-- User info and History -->
    <div class="row">
      <div class="m-5">
        <h2>Account Details</h2>
        <hr>
        <div class="row">
          <div class="col-3">Name:<br>Email:<br>DOB: <br>Address: <br></div>
          <div class="col-9">
            <div class="row">
              <h3>Order History</h3>
              <div class="col-4" id="id">Order ID<br></div>
              <div class="col-2" id="date">Order Date<br></div>
              <div class="col" id="total_price">Total Price<br></div>
              <!-- <ul id="orderlist"></ul> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <%- include ('partials/footer') %>
    </footer>

</body>

</html>