<!doctype html>
  <html lang="en">
  <head>
    <%- include ('partials/header') %>
  </head>
  <body>
   <%- include ('partials/navbar') %>

  <!-- User info and History -->
  <div class="row">
    
  </div>
  
    <footer>
      <%- include ('partials/footer') %>
    </footer>

  </body>
</html>